@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

@mixin box-shadow($shadow){
    -webkit-box-shadow: ($shadow);
    -moz-box-shadow: ($shadow);
    box-shadow: ($shadow);
}

$f-style: 'Lato', sans-serif;
$gray-dark: #666666;
$gray-light: #d3d3d3;
$open-sans: 'Open Sans', sans-serif;
$orange: #d29948;
$gray: #797979;
$border-btn: #dbb075;

body {
  background: #fff;
  font-family: $f-style;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

/* ---Header ---*/

.social-icons ul li {
    padding: 0 10px;
    &:last-child {
        padding-right: 0;
    }
    a {
        font-size: 18px;
        color: $gray-light;
        padding: 0;
        &:hover, &:focus {
            color: $orange;
            background: none;
        }
    }
}

#header {
    margin-bottom: 0;
    padding: 30px 0 60px 0;
    .navbar {
        background: white;
        border: 0;
        margin-bottom: 0;
    }
    .navbar-toggle {
        margin-top: 20px;
        .icon-bar{
        background-color: $gray-dark;
        }
    }
    .navbar-nav.navbar-right > li {
        a  {
            color: $gray-dark;
            padding: 20px;
        }
        &:last-child {
            margin-right: 20px;
        }
    }
    .navbar-nav li{
        padding: 0;
        margin: 0;
        a {
            color: #818285;
            padding: 5px 0;
            font-size: 15px;
            display: block;
            &:hover, &:focus {
                color: $orange;
            }
        }
    }
    .navbar-inverse .navbar-nav li.active > a {
        background-color: inherit;
        border: 0;
        color: $orange;
        &:focus {
            background-color: inherit;
            border: 0;
            color: $orange;
        }
    }
}
/* --- end header --- */

#home-slider{
	background-image: url("../images/home/slider-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 8%;
    .slide-text{
        padding-right: 0px;
        h2{
            color: $gray-dark;
        }
        p{
            margin: 8% 0%;
        }
        .btn-common{
            font-size: 14px;
            color: $gray;
            border: 1px solid $border-btn;
            font-family: $open-sans;
            font-weight: 300;
            padding: 10px 25px;
            &:hover, &:focus {
                color: $orange;
            }
        }
    }
    .cielo{
        height: 100px;
        margin: 1% 0%;
        position: relative;
        .slider-circle1{
            position: absolute;
            left: 38%;
            top: 70%;
        }
        .slider-circle2{
            position: absolute;
            left: 42%;
            top: 54%;
        }
        .slider-cloud2{
            position: absolute;
            bottom: 140%;
            left: 33%;
        }
        .slider-sun{
            position: absolute;
            left: 58%;
            bottom: 90%;
        }
        .slider-cloud1{
            position: absolute;
            left: 48%;
            bottom: 40%;
        }
        .slider-cloud3{
            position: absolute;
            right: 8%;
            bottom: 95%;
        }
    }
	.casa{
        .slider-cycle{
            margin-top: 13%;
            float: right;
        }
        .slider-house{
            float: right;
        }
    }
}
.box-service{
    margin: 2% 0%;
    .service-1{
        margin: 8.5% 0%;
    }
    .service-3{
        margin: 9% 0%;
    }
}   
.triangle{
    background-image: url("../images/home/tour-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $open-sans;
    padding: 2% 0%;
    overflow: hidden;
    .fadeInLeft{
        padding: 1.5% 0%;
        p{
            font-size: 1.3em;
            font-weight: 500;
        }
    }
    .tour-button{
        position: relative;
        .btn-common{
            position:absolute;
            margin-top: 12%;
            font-size: 14px;
            color: $gray;
            border: 1px solid $border-btn;
            font-family: $open-sans;
            font-weight: 300;
            padding: 10px 25px;
            display: inline;
            &:hover, &:focus {
                color: $orange;
            }
        }    
        img{
            position: relative;
            right: -30%;
        }
    }      
} 

#features{
    padding: 2% 0%;
    .single-features{
        margin: 4% 0%;
        .align-right{
            text-align: right;
        }
    }
}

.clients{
    .img-responsive{
        margin: auto;
    }
}
.clients-logo{
    padding: 2% 0%;
}

footer{
    background-image: url("../images/home/footer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    h2{
        color: $gray-dark;
        margin-bottom: 12%;
    }
    .bottom-separator{
        margin-bottom: 5%;
        img{
            margin: auto;
        }
    }
    .media{
        margin-bottom: 8%;
        .media-body{
            padding: 0% 8%;
            font-weight: bolder;
            h3{
                font-size: 1.5em;
            }
            blockquote {
                border-left: 0;
                padding: 0;
                i{
                    color: $border-btn;
                    &:first-child{
                        margin-right: 15px;
                    }
                    &:last-child{
                        margin-left: 10px;
                    }
                }
            }
        a{
            color: $orange;
            &:hover{
                text-decoration: none;
            }
        }
    }
    }
    .contact-info{
        a{
            color: #a5732a;
            &:hover {
                text-decoration: none;
                color: #dab074;
            }
        }
    }
    .contact-form{
        input{
            border: 1px solid $border-btn;
        }
        .btn-submit{
            width: 100%;
            background: $orange;
            padding: 3%;
            color: white;
            text-transform: uppercase;
            letter-spacing: 5px;
            @include box-shadow (0px 3px 0px #A16110);
        }
        textarea{
            border: 1px solid $border-btn;
        }
    }
    .copyright-text{
        padding: 5% 0%;
        a{
           color: #a5732a;
            &:hover {
                text-decoration: none;
                color: #dab074;
            } 
        }
    }
}

