@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000; }

/* ---Header ---*/
.social-icons ul li {
  padding: 0 10px; }
  .social-icons ul li:last-child {
    padding-right: 0; }
  .social-icons ul li a {
    font-size: 18px;
    color: #d3d3d3;
    padding: 0; }
    .social-icons ul li a:hover, .social-icons ul li a:focus {
      color: #d29948;
      background: none; }

#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; }
  #header .navbar {
    background: white;
    border: 0;
    margin-bottom: 0; }
  #header .navbar-toggle {
    margin-top: 20px; }
    #header .navbar-toggle .icon-bar {
      background-color: #666666; }
  #header .navbar-nav.navbar-right > li a {
    color: #666666;
    padding: 20px; }
  #header .navbar-nav.navbar-right > li:last-child {
    margin-right: 20px; }
  #header .navbar-nav li {
    padding: 0;
    margin: 0; }
    #header .navbar-nav li a {
      color: #818285;
      padding: 5px 0;
      font-size: 15px;
      display: block; }
      #header .navbar-nav li a:hover, #header .navbar-nav li a:focus {
        color: #d29948; }
        @media (max-width: 768px) {
          #header .navbar-nav li a:hover, #header .navbar-nav li a:focus {
            background-color: #d3d3d3; } }
  #header .navbar-brand img {
    margin-top: -10%; }
  #header .navbar-nav li.active > a {
    background-color: inherit;
    border: 0;
    color: #d29948; }
    #header .navbar-nav li.active > a:focus {
      background-color: inherit;
      border: 0;
      color: #d29948; }

/* --- end header --- */
#home-slider {
  background-image: url("../images/home/slider-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8%; }
  #home-slider .slide-text {
    padding-right: 0px; }
    #home-slider .slide-text h2 {
      color: #666666; }
    #home-slider .slide-text p {
      margin: 8% 0%; }
    #home-slider .slide-text .btn-common {
      font-size: 14px;
      color: #797979;
      border: 1px solid #dbb075;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      padding: 10px 25px; }
      #home-slider .slide-text .btn-common:hover, #home-slider .slide-text .btn-common:focus {
        color: #d29948; }
  #home-slider .cielo {
    height: 100px;
    margin: 1% 0%;
    position: relative; }
    #home-slider .cielo .slider-circle1 {
      position: absolute;
      left: 38%;
      top: 70%; }
    #home-slider .cielo .slider-circle2 {
      position: absolute;
      left: 42%;
      top: 54%; }
    #home-slider .cielo .slider-cloud2 {
      position: absolute;
      bottom: 140%;
      left: 33%; }
    #home-slider .cielo .slider-sun {
      position: absolute;
      left: 58%;
      bottom: 90%; }
    #home-slider .cielo .slider-cloud1 {
      position: absolute;
      left: 48%;
      bottom: 40%; }
    #home-slider .cielo .slider-cloud3 {
      position: absolute;
      right: 8%;
      bottom: 95%; }
  #home-slider .casa .slider-cycle {
    margin-top: 13%;
    float: right; }
  #home-slider .casa .slider-house {
    float: right; }

.box-service {
  margin: 2% 0%; }
  .box-service .service-1 {
    margin: 8.5% 0%; }
  .box-service .service-3 {
    margin: 9% 0%; }

.triangle {
  background-image: url("../images/home/tour-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  padding: 2% 0%;
  overflow: hidden; }
  .triangle .fadeInLeft {
    padding: 1.5% 0%; }
    .triangle .fadeInLeft p {
      font-size: 1.3em;
      font-weight: 500; }
  .triangle .tour-button {
    position: relative; }
    .triangle .tour-button .btn-common {
      position: absolute;
      margin-top: 12%;
      font-size: 14px;
      color: #797979;
      border: 1px solid #dbb075;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      padding: 10px 25px;
      display: inline; }
      .triangle .tour-button .btn-common:hover, .triangle .tour-button .btn-common:focus {
        color: #d29948; }
    .triangle .tour-button img {
      position: relative;
      right: -30%; }

#features {
  padding: 2% 0%; }
  #features .single-features {
    margin: 4% 0%; }
    #features .single-features .align-right {
      text-align: right; }

.clients .img-responsive {
  margin: auto; }

.clients-logo {
  padding: 2% 0%; }

footer {
  background-image: url("../images/home/footer.png");
  background-repeat: no-repeat;
  background-position: bottom; }
  footer h2 {
    color: #666666;
    margin-bottom: 12%; }
  footer .bottom-separator {
    margin-bottom: 5%; }
    footer .bottom-separator img {
      margin: auto; }
  footer .media {
    margin-bottom: 8%; }
    footer .media .media-body {
      padding: 0% 8%;
      font-weight: bolder; }
      footer .media .media-body h3 {
        font-size: 1.5em;
        border-left: 0; }
      footer .media .media-body blockquote {
        padding: 0;
        border-left: 0; }
        footer .media .media-body blockquote:before {
          content: '"';
          font-size: 2em;
          color: #d29948;
          margin-right: 5px;
          position: relative;
          top: 12px; }
        footer .media .media-body blockquote:after {
          content: '"';
          font-size: 2em;
          color: #d29948;
          margin-left: 5px;
          position: relative;
          top: 15px; }
    footer .media a {
      color: #d29948;
      font-size: 1em; }
      footer .media a:hover {
        text-decoration: none; }
  footer .contact-info a {
    color: #dbb075; }
    footer .contact-info a:hover {
      text-decoration: none;
      color: #d29948; }
  footer .contact-form input {
    border: 1px solid #dbb075; }
  footer .contact-form .btn-submit {
    width: 100%;
    background: #d29948;
    padding: 3%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-box-shadow: 0px 3px 0px #A16110;
    -moz-box-shadow: 0px 3px 0px #A16110;
    box-shadow: 0px 3px 0px #A16110; }
  footer .contact-form textarea {
    border: 1px solid #dbb075; }
  footer .copyright-text {
    padding: 5% 0%; }
    footer .copyright-text a {
      color: #a5732a; }
      footer .copyright-text a:hover {
        text-decoration: none;
        color: #dab074; }

/*# sourceMappingURL=main.css.map */
